# HR Employee Attrition Analysis

By Shinin Varongchayakul

Language: R

Dataset: IBM HR Analytics Employee Attrition & Performance

From: https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset

## Business Questions
1. Attrition Risk by Department & Role
- We’ve been noticing an increase in employee turnover.
- Which departments and job roles have the highest attrition rates?
- Are there any patterns among those leaving (e.g., salary, work experience, satisfaction levels)?

2. Work-Life Balance & Overtime
- Employees have expressed concerns about work-life balance.
- How does overtime impact attrition?
- Are employees who work overtime more likely to leave?

3. Salary vs. Attrition: The Pay Gap Dilemma
- Do employees who earn less tend to leave more frequently?
- What’s the average monthly income of those who stay vs. those who leave?
- Are we paying our high-performing employees enough to retain them?

4. Age & Experience: Who is Most at Risk?
- Are younger employees leaving at a higher rate than older employees?
- How does total working experience influence attrition?

5. Promotion & Career Growth Opportunities
- We want to ensure that employees see long-term career growth in our company.
- How does the number of promotions (YearsSinceLastPromotion) relate to attrition?
- Are employees with fewer promotions more likely to leave?

6. Job Satisfaction vs. Attrition
- How does job satisfaction affect attrition rates?
- Are employees with lower satisfaction scores leaving more often?

7. Remote Work vs. Travel Frequency
- With more employees requesting remote work, does business travel influence attrition?
- Are those who travel frequently more likely to leave?

8. High Performers & Attrition
- Are we losing our top-performing employees?
- How does Performance Rating relate to attrition?

## 1. Import & Load Libraries

In [29]:
# Install
install.packages("tidyverse")
installed.packages("data.table")

Warning message:
"package 'tidyverse' is in use and will not be installed"

     Package LibPath Version Priority Depends Imports LinkingTo Suggests
     Enhances License License_is_FOSS License_restricts_use OS_type Archs
     MD5sum NeedsCompilation Built

In [30]:
# Load
library(tidyverse)
library(data.table)

## 2. Load the Dataset

In [31]:
# Load the dataset
hr <- fread("hr_employee_attrition_dataset.csv")

In [32]:
# Check the result
head(hr)

  Age Attrition BusinessTravel    DailyRate Department
1 41  Yes       Travel_Rarely     1102      Sales
2 49  No        Travel_Frequently  279      Research & Development
3 37  Yes       Travel_Rarely     1373      Research & Development
4 33  No        Travel_Frequently 1392      Research & Development
5 27  No        Travel_Rarely      591      Research & Development
6 32  No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ⋯
1 1                2         Life Sciences  1             1              ⋯
2 8                1         Life Sciences  1             2              ⋯
3 2                2         Other          1             4              ⋯
4 3                4         Life Sciences  1             5              ⋯
5 2                1         Medical        1             7              ⋯
6 2                2         Life Sciences  1             8              ⋯
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 1                        80            0                 8
2 4                        80            1                10
3 2                        80            0                 7
4 3                        80            0                 8
5 4                        80            1                 6
6 3                        80            0                 8
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 0                     1                6             4
2 3                     3               10             7
3 3                     3                0             0
4 3                     3                8             7
5 3                     3                2             2
6 2                     2                7             7
  YearsSinceLastPromotion YearsWithCurrManager
1 0                       5
2 1                       7
3 0                       0
4 3                       0
5 2                       2
6 3                       6

In [33]:
# Glimpse the dataset
glimpse(hr)

Rows: 1,470
Columns: 35
$ Age                      <int> 41, 49, 37, 33, 27, 32, 59, 30, 38, 36, 35, 2…
$ Attrition                <chr> "Yes", "No", "Yes", "No", "No", "No", "No", "…
$ BusinessTravel           <chr> "Travel_Rarely", "Travel_Frequently", "Travel…
$ DailyRate                <int> 1102, 279, 1373, 1392, 591, 1005, 1324, 1358,…
$ Department               <chr> "Sales", "Research & Development", "Research …
$ DistanceFromHome         <int> 1, 8, 2, 3, 2, 2, 3, 24, 23, 27, 16, 15, 26, …
$ Education                <int> 2, 1, 2, 4, 1, 2, 3, 1, 3, 3, 3, 2, 1, 2, 3, …
$ EducationField           <chr> "Life Sciences", "Life Sciences", "Other", "L…
$ EmployeeCount            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ EmployeeNumber           <int> 1, 2, 4, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16,…
$ EnvironmentSatisfaction  <int> 2, 3, 4, 4, 1, 4, 3, 4, 4, 3, 1, 4, 1, 2, 3, …
$ Gender                   <chr> "Female", "Male", "Male", "Female", "Male", "…
$ HourlyRate               <int> 94, 61, 92, 56, 40, 79, 81, 67, 44, 94, 84, 4…
$ JobInvolvement           <int> 3, 2, 2, 3, 3, 3, 4, 3, 2, 3, 4, 2, 3, 3, 2, …
$ JobLevel                 <int> 2, 2, 1, 1, 1, 1, 1, 1, 3, 2, 1, 2, 1, 1, 1, …
$ JobRole                  <chr> "Sales Executive", "Research Scientist", "Lab…
$ JobSatisfaction          <int> 4, 2, 3, 3, 2, 4, 1, 3, 3, 3, 2, 3, 3, 4, 3, …
$ MaritalStatus            <chr> "Single", "Married", "Single", "Married", "Ma…
$ MonthlyIncome            <int> 5993, 5130, 2090, 2909, 3468, 3068, 2670, 269…
$ MonthlyRate              <int> 19479, 24907, 2396, 23159, 16632, 11864, 9964…
$ NumCompaniesWorked       <int> 8, 1, 6, 1, 9, 0, 4, 1, 0, 6, 0, 0, 1, 0, 5, …
$ Over18                   <chr> "Y", "Y", "Y", "Y", "Y", "Y", "Y", "Y", "Y", …
$ OverTime                 <chr> "Yes", "No", "Yes", "Yes", "No", "No", "Yes",…
$ PercentSalaryHike        <int> 11, 23, 15, 11, 12, 13, 20, 22, 21, 13, 13, 1…
$ PerformanceRating        <int> 3, 4, 3, 3, 3, 3, 4, 4, 4, 3, 3, 3, 3, 3, 3, …
$ RelationshipSatisfaction <int> 1, 4, 2, 3, 4, 3, 1, 2, 2, 2, 3, 4, 4, 3, 2, …
$ StandardHours            <int> 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 8…
$ StockOptionLevel         <int> 0, 1, 0, 0, 1, 0, 3, 1, 0, 2, 1, 0, 1, 1, 0, …
$ TotalWorkingYears        <int> 8, 10, 7, 8, 6, 8, 12, 1, 10, 17, 6, 10, 5, 3…
$ TrainingTimesLastYear    <int> 0, 3, 3, 3, 3, 2, 3, 2, 2, 3, 5, 3, 1, 2, 4, …
$ WorkLifeBalance          <int> 1, 3, 3, 3, 3, 2, 2, 3, 3, 2, 3, 3, 2, 3, 3, …
$ YearsAtCompany           <int> 6, 10, 0, 8, 2, 7, 1, 1, 9, 7, 5, 9, 5, 2, 4,…
$ YearsInCurrentRole       <int> 4, 7, 0, 7, 2, 7, 0, 0, 7, 7, 4, 5, 2, 2, 2, …
$ YearsSinceLastPromotion  <int> 0, 1, 0, 3, 2, 3, 0, 0, 1, 7, 0, 0, 4, 1, 0, …
$ YearsWithCurrManager     <int> 5, 7, 0, 0, 2, 6, 0, 0, 8, 7, 3, 8, 3, 2, 3, …

I notice that the categorical columns need to be converted to factor.

## 3. Data Cleaning

In [34]:
# Make a copy of hr
hr_cleaned <- copy(hr)

### 3.1 Data Types

In [35]:
# Create a vector for columns to be casted as factor
factor_cols <- c("Attrition", "BusinessTravel","Department",
                    "Education", "EducationField", "Gender",
                    "JobLevel", "JobRole", "MaritalStatus",
                    "Over18", "OverTime", "StockOptionLevel")

# Convert the columns to factor
hr_cleaned[, 
            (factor_cols) := lapply(.SD, as.factor),
            .SDcols = factor_cols]

In [36]:
# Check the results
hr_cleaned[, ..factor_cols] |> glimpse()

Rows: 1,470
Columns: 12
$ Attrition        <fct> Yes, No, Yes, No, No, No, No, No, No, No, No, No, No,…
$ BusinessTravel   <fct> Travel_Rarely, Travel_Frequently, Travel_Rarely, Trav…
$ Department       <fct> Sales, Research & Development, Research & Development…
$ Education        <fct> 2, 1, 2, 4, 1, 2, 3, 1, 3, 3, 3, 2, 1, 2, 3, 4, 2, 2,…
$ EducationField   <fct> Life Sciences, Life Sciences, Other, Life Sciences, M…
$ Gender           <fct> Female, Male, Male, Female, Male, Male, Female, Male,…
$ JobLevel         <fct> 2, 2, 1, 1, 1, 1, 1, 1, 3, 2, 1, 2, 1, 1, 1, 3, 1, 1,…
$ JobRole          <fct> Sales Executive, Research Scientist, Laboratory Techn…
$ MaritalStatus    <fct> Single, Married, Single, Married, Married, Single, Ma…
$ Over18           <fct> Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, Y,…
$ OverTime         <fct> Yes, No, Yes, Yes, No, No, Yes, No, No, No, No, Yes, …
$ StockOptionLevel <fct> 0, 1, 0, 0, 1, 0, 3, 1, 0, 2, 1, 0, 1, 1, 0, 1, 2, 2,…

Twelve columns have been successfully converted to factor.

### 3.2 Missing Values

In [37]:
# Check if there are missing values
anyNA(hr_cleaned)

[1] FALSE

There appears to be no missing values.

## 4. Exploratory Data Analysis